* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for entire page */
body {
    background-color: #d9dcd6;
}

/* Styling for header of page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling for "Horiseon" header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling to change color of "seo" in "Horiseon" */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styling for navigation bar in header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes styling from list in nav bar */
.header nav ul {
    list-style-type: none;
}

/* Styling to place links side-by-side in nav bar */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set color of list of links in nav bar to white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set paragraph text content font size */
p {
    font-size: 16px;
}

/* Setting up header image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Set margins for blocks floated left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set margins for blocks floated right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set up container size for main content on page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set up aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
}

/* Set bottom margins and text color for aside sections */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Set bottom margins and text-alignment for aside section headers */
.benefit-lead header h3, .benefit-brand header h3, .benefit-cost header h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Set positioning for aside section images */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set size for/style containers for sections in main content*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set max height for images in main content */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* Position and style captions for images in main content */
.search-engine-optimization figcaption, .online-reputation-management figcaption, .social-media-marketing figcaption {
    clear: both;
    font-style: italic;
    font-weight: lighter;
}

/* Style headers for section in main content */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style and position footer at bottom of page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Style header for footer */
.footer h2 {
    font-size: 20px;
}
